.top_page {
    background-size: cover;
    height:70vh;
    background-image: url("Agri-.jpg");
    margin-top: 0px;
    border: 2px solid 
}

.body {
    margin: auto;
height: 100%;
width: 100%;
    }

header.header {
    display: flex;
    margin: 0px;
    align-items: center;
    background-attachment: fixed;
}

header.header img {
    width: 120px;
    height: 150px;  

}

header.header nav ul li {
    list-style: none;
    display: inline-block;
    margin: 15px;
    margin-left: 50px;
      
}

header.header nav ul li a {
    color: white;
    text-decoration: none;
    justify-content: space-between;
   background-color: blue;
   padding: 7px;
   font-size: 15px;
   border: solid;
}

header.header nav ul li:hover a{
    color: white; 
    background-color:#1f2;
    transition: 0.4s;  
}

div.landing-page h1 {
    color: white;
    font-size: 30px;
    align-items: center;
    margin-left: 100px;
}
.FOOT {
    display: flex;
    justify-content: space-between;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
    border: 3px solid green;
    align-items: center;
    margin-bottom: 25px;
}

.Titre div {
    display: inline-block;
    width: 48%;
}

.A_D {
background-color: khaki;
width: 100%;
height: 100%;
margin-top: 0px;
margin-bottom: 0px;
margin-left: 10px;
margin-right: 0px;
}

.A_G {
vertical-align: top;
background-color:khaki;
margin-right: 5px;
}

.A_G h3, p, table, iframe {
    margin-left: 5px;
    margin-right: 5px;
}

.A_C {
    background-color: #1f2;
    font-size: 35px;
    text-align: center;
}


.AG {
    color: blue;
}

.Part h2, h3{
    text-align: center;
    background-color: khaki;
}

.FOOT {
    background-color: khaki;
}


/* For mobile phones: */
@media screen and (max-width: 767px) {
    .header nav {
        justify-content: center;
        align-items: center;
        flex-direction: column;   
    }
   

    .header img {
    margin-top: 0px;
    }
    .FOOT nav {
     display: flex;
     justify-content: space-between;
     flex-direction: row;
    }
    .header.header nav ul li a {
        text-decoration: double;
        border:salmon;
        background-color: black;
        font-size: 15px;
    }
   .landig-page {
    margin-left: 5px;
    align-items: center;
    justify-content: center;
   }
   .A_G p {
font-size: 1.2em;
margin-left: 5px;
font-family: 'Times New Roman', Times, serif;
background-color: yellow;
overflow: scroll;
   }
   .A_G iframe {
display:
}

   .body {
    margin: 0px;
    background-size: contain;
   }
   .A_D {
        background-color: khaki;
        width: auto;
        height: auto;
        margin-left: 4px;
        flex-direction: column;
   }
}



 /* For tablets: */
  @media screen and (min-width: 768px)and (max-width: 1023px) {
    .header nav {
        justify-content: center;
        align-items: center;
        flex-direction: column;   
    }
    .header img {
    margin-right: 0px;
    flex-direction: row;
    }
    .FOOT nav {
     display: flex;
     justify-content: space-between;
     flex-direction: row;
    }
    .header.header nav ul li a {
        color: white;
        text-decoration: double;
        border: solid yellow;
        
    }
   .landig-page {
    margin-left: 8px;
    align-items: center;
    justify-content: center;
   }
   .A_G p {
font-size: 1.2em;
margin-left: 5px;
font-family: 'Times New Roman', Times, serif;
color:darkmagenta;
   }
   .body {
    margin: 0px;
    background-size: contain;
   }

   .A_G {
    margin-right: 15px;
   }

   .A_G h3 {
    font-size: 1.2em;
    margin-left: 5px;
    font-family: 'Times New Roman', Times, serif;
    color:blueviolet;
    }
    .A_D{
        background-color: khaki;
        width: auto;
        height: 50%
    }

  }


/* For desktop: */
  @media screen and (min-width: 1024px) {
 
  }
         